*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: none;
}

.header-mob {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 10px gray;
          box-shadow: 0 1px 10px gray;
}

.header-mob__logo--cont img {
  width: 116px;
  height: 36px;
}

.header-mob__nav--cont {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(192, 220, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-transform: translate(500px);
          transform: translate(500px);
}

.header-mob__nav--links {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.header-mob__nav--links nav ul {
  list-style: none;
}

.header-mob__nav--links nav ul li {
  margin-top: 20px;
}

.header-mob__nav--links nav ul li a {
  text-decoration: none;
  font-family: Basis Grotesque;
  font-weight: medium;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: right;
}

.header-mob__nav--1 {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.header-mob__nav--1 a {
  color: #00000a;
}

.header-mob__nav--login {
  border-radius: 2px;
  background: #420092;
  border: 1px solid #3a008c;
  width: 78px;
  height: 32px;
  padding: 5px 10px;
  color: #ffffff;
}

.header-mob__nav--demo {
  color: #3a008c;
}

.header-mob__burger {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-mob__burger--icon {
  width: 24px;
  height: 3px;
  border-radius: 20px;
  background: #000;
  position: relative;
}

.header-mob__burger--icon::before, .header-mob__burger--icon::after {
  content: "";
  width: 24px;
  height: 3px;
  border-radius: 20px;
  background: #000;
  position: absolute;
}

.header-mob__burger--icon::before {
  top: -8px;
}

.header-mob__burger--icon::after {
  bottom: -8px;
}

.header-mob__cross {
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  position: absolute;
  right: 30px;
  top: 20px;
}

.header-mob__cross--icon {
  position: relative;
}

.header-mob__cross--icon::before, .header-mob__cross--icon::after {
  content: "";
  width: 24px;
  height: 3px;
  border-radius: 20px;
  background: #000;
  position: absolute;
}

.header-mob__cross--icon::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-mob__cross--icon::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

section {
  padding: 10px 20px;
}

.section-1 {
  text-align: center;
  padding-top: 8vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ecf3f7), color-stop(99.92%, #fff));
  background: linear-gradient(180deg, #ecf3f7 0, #fff 99.92%);
}

.section-1__heading--main h1 {
  color: #ee5f40;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1px;
}

.section-1__heading--secondary h1 {
  color: #030343;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1px;
}

.section-1__heading--secondary-big {
  display: none;
}

.section-1__text p {
  margin-top: 34px;
  color: #030343;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0px;
}

.section-1__text--secondary p {
  opacity: 0.6681082844734192;
  color: #1d0046;
  font-family: SF Pro Text, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-top: 104px;
}

.section-1__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  margin: 0 auto;
  margin-top: 48px;
}

.section-1__links--consultation {
  border-radius: 4px;
  background: linear-gradient(-107.11deg, #4300a3 0%, #6100bb 100%);
  -webkit-box-shadow: 0px 2px 10px 0px #000430;
          box-shadow: 0px 2px 10px 0px #000430;
  padding: 10px;
  margin-bottom: 3vh;
  cursor: pointer;
}

.section-1__links--consultation a {
  color: #ffffff;
  font-family: Basis Grotesque;
  font-weight: medium;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
}

.section-1__links--signup {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
}

.section-1__links--signup a {
  color: #000000;
  font-family: Basis Grotesque;
  font-weight: medium;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.section-1__text--secondary {
  width: 324px;
}

.section-2 {
  padding-top: 130px;
}

.section-2__heading-main {
  margin-top: 12px;
}

.section-2__heading-main h2 {
  color: #232323;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.64px;
  text-align: left;
}

.section-2__text {
  margin-top: 35px;
}

.section-2__text p {
  color: #64648c;
  font-family: SF Pro Text, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.section-2__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.section-2__card-center {
  width: 231px;
  height: 346px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 28px;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 7px -1px 80px 12px #e3e3e3;
          box-shadow: 7px -1px 80px 12px #e3e3e3;
}

.section-2__card-move-left, .section-2__card-move-right {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 4px 0px #000000;
          box-shadow: 0px 1px 4px 0px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 500;
}

.section-2__card-move-left {
  left: 20px;
}

.section-2__card-move-right {
  right: 20px;
}

.section-2__background {
  margin-top: -30px;
}

.card__icon {
  margin-left: 120px;
}

.card__heading {
  color: #8150c7;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: SemiBold;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.card__heading--down {
  color: #191923;
}

.card__text {
  color: #232323;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 18px;
}

.card__link {
  margin-top: 31px;
}

.card__link a {
  color: #120ef0;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.section-3 {
  padding-top: 130px;
}

.section-3__heading-main {
  margin-top: 12px;
}

.section-3__heading-main h2 {
  color: #232323;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.64px;
  text-align: left;
}

.section-3__text {
  margin-top: 35px;
}

.section-3__text p {
  color: #64648c;
  font-family: SF Pro Text;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.section-3__part--2 {
  padding-top: 100px;
}

.section-3 .tabs ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.section-3 .tabs ul li {
  height: 66px;
  border-bottom: 1px solid #d6d5d5;
}

.section-3 .tabs ul li a {
  color: #191923;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  opacity: 0.55;
}

.section-3 .tabs ul li a[aria-selected="true"] {
  color: #120ef0;
  opacity: 1;
  font-weight: bold;
  text-align: left;
}

.section-3 .tabs ul li a:focus {
  outline: none;
}

.section-3 .tabs ul li.tab-border {
  border-bottom: 1px solid #1a16f0;
}

.section-3 .tabs .tab_content {
  margin-top: 44px;
}

.section-3 .tabs .tab_content-main {
  margin-top: 20px;
}

.section-3 .tabs .tab_content-main--heading {
  color: #232323;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: left;
}

.section-3 .tabs .tab_content-main--text {
  color: #64648c;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
}

.section-3 .tabs .tab_content-main--link {
  margin-top: 30px;
}

.section-3 .tabs .tab_content-main--link a {
  color: #120ef0;
  font-family: SF Pro Display, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
}

.section-4 {
  padding-top: 130px;
}

.section-4 .tabs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.section-4 .tabs ul li {
  height: 23px;
}

.section-4 .tabs ul li a {
  color: #191923;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  opacity: 0.55;
}

.section-4 .tabs ul li a[aria-selected="true"] {
  color: #120ef0;
  opacity: 1;
  font-weight: bold;
  text-align: left;
}

.section-4 .tabs ul li a:focus {
  outline: none;
}

.section-4 .tabs ul li.tab-border {
  border-bottom: 1px solid #1a16f0;
}

.section-4 .tabs .tab_content {
  margin-top: 44px;
}

.section-4 .tabs .tab_content .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .tabs .tab_content .card__img p {
  margin-left: 10px;
  color: #5c07d1;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.section-4 .tabs .tab_content .card__heading {
  margin-top: 30px;
}

.section-4 .tabs .tab_content .card__heading h3 {
  color: #5c07d1;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.26;
  letter-spacing: 0px;
  text-align: left;
}

.section-4 .tabs .tab_content .card__text {
  display: -ms-grid;
  display: grid;
  margin-top: 23px;
  -ms-grid-columns: 0.2fr 1fr;
      grid-template-columns: 0.2fr 1fr;
}

.section-4 .tabs .tab_content .card__text .quotes {
  font-size: 50px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #5c07d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-4 .tabs .tab_content .card__text .quotes span {
  margin-top: 17px;
}

.section-4 .tabs .tab_content .card__text .text {
  color: #64648c;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 20px;
}

.section-4 .tabs .tab_content .card__text__link {
  color: #120ef0;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
}

.section-5 {
  padding-top: 130px;
}

.section-5__heading-main {
  margin-top: 12px;
}

.section-5__heading-main h2 {
  color: #232323;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.64px;
  text-align: left;
}

.section-5__card--cont {
  margin-top: 42px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1fr;
      grid-template-columns: 0.1fr 1fr;
}

.section-5__card--cont .card__tick {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
  margin-top: 6px;
}

.section-5__card--cont .card__heading h3 {
  color: #00000a;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
  text-align: left;
}

.section-5__card--cont .card__text {
  color: #00000a;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 6px;
}

.section-5__card--cont .card__link {
  color: #120ef0;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top: 10px;
}

.heading__secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__secondary--box {
  width: 39px;
  height: 8px;
  background: #ff7846;
  font-size: 10px;
  margin-right: 13px;
}

.heading__secondary--text {
  color: #ff7846;
  font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
}

footer {
  margin-top: 130px;
  background: #f3efff;
  padding: 30px;
}

footer .footer__heading h2 {
  color: #00000a;
  font-family: SF Pro Display, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1px;
  text-align: center;
}

footer .footer-mob__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-mob__nav ul li {
  margin-top: 50px;
}

footer .footer-mob__nav ul li a {
  text-decoration: none;
  font-family: Basis Grotesque;
  font-weight: medium;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  padding: 14px 20px;
}

footer .footer-mob__nav--demo {
  color: #ffffff;
  border-radius: 4px;
  background: #500ad2;
  -webkit-box-shadow: 0px 3px 6px 0px #000430;
          box-shadow: 0px 3px 6px 0px #000430;
}

footer .footer-mob__nav--signup {
  color: #000ff0;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #000ff0;
  -webkit-box-shadow: 0px 3px 6px 0px #000430;
          box-shadow: 0px 3px 6px 0px #000430;
}

.roate-full {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.pop-up {
  -webkit-transform: translate(0px);
          transform: translate(0px);
}

.pop-down {
  -webkit-transform: translate(200px);
          transform: translate(200px);
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  header,
  main {
    padding: 0 8vw;
  }
  .header-mob {
    display: none;
  }
  .header {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -7px;
  }
  .header nav ul li {
    margin-right: 30px;
  }
  .header nav ul li a {
    text-decoration: none;
    font-family: Basis Grotesque;
    font-weight: medium;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0px;
    text-align: right;
  }
  .header__nav--login {
    border-radius: 2px;
    background: #420092;
    border: 1px solid #3a008c;
    width: 78px;
    height: 32px;
    padding: 5px 10px;
    color: #ffffff;
  }
  .header__nav--demo {
    color: #3a008c;
  }
  .header__nav--1 {
    margin-left: 50px;
  }
  .header__nav--1 ul li a {
    color: #00000a;
  }
  .header__nav--2 {
    position: absolute;
    right: 10vw;
  }
  .section-1 {
    background: #fff;
    text-align: left;
  }
  .section-1__heading--main {
    width: 387px;
  }
  .section-1__heading--main h1 {
    font-size: 2.7rem;
    line-height: 54px;
    text-align: left;
  }
  .section-1__heading--main {
    width: 387px;
  }
  .section-1__heading--main h1 {
    font-size: 2.7rem;
    line-height: 54px;
    text-align: left;
  }
  .section-1__heading--secondary {
    display: none;
  }
  .section-1__heading--secondary-big {
    width: 460px;
    display: block;
  }
  .section-1__heading--secondary-big h1 {
    font-size: 2.7rem;
    line-height: 54px;
    text-align: left;
    color: #030343;
    font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: SemiBold;
    letter-spacing: -1px;
  }
  .section-1__text {
    width: 465px;
  }
  .section-1__text p {
    margin-top: 34px;
    color: #030343;
    font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: regular;
    font-size: 1.15rem;
    line-height: 27px;
    letter-spacing: 0px;
  }
  .section-1__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
    margin: 0;
    margin-top: 48px;
    text-align: center;
  }
  .section-1__links--consultation {
    margin: 0;
    margin-right: 10px;
    width: 199px;
  }
  .section-1__links--signup {
    width: 180px;
  }
  .section-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.3fr 1fr;
        grid-template-columns: 0.3fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-2__heading-main {
    width: 264px;
  }
  .section-2__heading-main h2 {
    font-size: 2.2rem;
    line-height: 44px;
    text-align: left;
  }
  .section-2__text {
    width: 326px;
  }
  .section-2__part--2 {
    margin: 0 auto;
    width: 100%;
  }
  .section-2__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    position: relative;
  }
  .section-2__card-center {
    width: 281px;
    height: 366px;
    padding: 38px;
  }
  .section-2__card-move-left, .section-2__card-move-right {
    width: 48px;
    height: 48px;
    background-color: #fff;
  }
  .section-2__card-move-left {
    left: 100px;
  }
  .section-2__card-move-right {
    right: 100px;
  }
  .section-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.4fr 1fr;
        grid-template-columns: 0.4fr 1fr;
    gap: 4rem;
  }
  .section-3__part--2 {
    padding-top: 49px;
  }
  .section-3 .tabs .tab_content--cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.3fr;
        grid-template-columns: 1fr 0.3fr;
  }
  .section-4__cont {
    width: 858px;
    margin: 0 auto;
  }
  .section-4__cont .tabs ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-4__cont .tabs ul li {
    margin-right: 1.2rem;
  }
  .section-4__cont .tabs .tab_content .card {
    border-radius: 14px;
    background: #ffffff;
    -webkit-box-shadow: 0px 3px 8px 1px #727171;
            box-shadow: 0px 3px 8px 1px #727171;
    padding: 57px 63px 50px 40px;
  }
  .section-4__cont .tabs .tab_content .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-4__cont .tabs .tab_content .card__img p {
    margin-left: 10px;
    margin-top: 10px;
    color: #5c07d1;
    font-family: IBM Plex Sans, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .section-4__cont .tabs .tab_content .card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-4__cont .tabs .tab_content .card__heading {
    width: 269px;
  }
  .section-4__cont .tabs .tab_content .card__heading h3 {
    font-size: 1.8rem;
  }
  .section-4__cont .tabs .tab_content .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-4__cont .tabs .tab_content .card__text .quotes {
    margin-right: 5px;
    padding: 10px;
  }
  .section-5__heading-main {
    width: 402px;
  }
  .section-5__heading-main h2 {
    font-size: 2.1rem;
    line-height: 44px;
    text-align: left;
  }
  .section-5__part--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer__heading {
    width: 603px;
  }
  footer .footer__heading h2 {
    font-size: 2.3rem;
    line-height: 50px;
    text-align: left;
  }
  footer .footer-mob__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-mob__nav ul li {
    margin-right: 16px;
    margin-top: -10px;
  }
}
/*# sourceMappingURL=style.css.map */